#menu-inferior {
    display:flex;
    flex-direction:row;
    width:100%;
    flex-wrap:wrap;
}
@media all and (min-width:990px){
    #menu-superior .menu-movil{
        display:none;
    }
    #menu-inferior{
        display:none;
    }
}
#menu-inferior > button {
    margin:5px;
}
#menu-superior .label-menu-icon {
    display:inline-block;
    padding-left:5px;
}
@media (min-width:992px) {
    #menu-superior .label-menu-icon {
        display:none;
    }
}
#menu-superior .nombre-usuario {
    color:rgba(255,255,255,0.5);
    padding-right:1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    font-weight:bold;
}


#menu-lateral {
    background: #555;
    color:#fff;

    position:relative;
    position:sticky;

    top:20px;

    border-width:0 1px 4px 1px;
    border-style:solid;
    border-color:#484848;
    border-radius:10px;
    padding:10px;
}
#menu-lateral div {
    display:flex;
    flex-direction:column;
    text-align:center;

    background: #6a6a6a;

    margin-top:5px;
    margin-bottom:5px;
    padding:5px;

    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color:#484848;
    border-radius:10px;
}
#menu-lateral #espectadores-partida h2 {
    font-size: 14px;
    font-weight:bold;
    text-transform:uppercase;
}
#menu-lateral #espectadores-partida ul {
    list-style:none;
    padding:0;
}
#menu-lateral #info-usuario > div {
    border: none;
    background: #575757;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px;
}

#menu-lateral #lista-amigos {
    display:none;
    max-height:150px;
    overflow-y:auto;
    border:none;
}
#menu-lateral #lista-amigos > div {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:none;
    background:#575757;
    border-radius:5px;
}
#menu-lateral #lista-repeticiones {
    display:none;
    max-height:150px;
    width:100%;
    overflow-y:auto;
    border:none;
}
#menu-lateral #lista-repeticiones > div {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:none;
    background: #575757;
    border-radius:5px;
}
#menu-lateral #lista-repeticiones > div > span,
#menu-lateral #lista-repeticiones > div > a {
    font-size:12px;
}
#menu-lateral #lista-repeticiones > div > span.Victoria {
    color: #00a900;
    font-style:italic;
}
#menu-lateral #lista-repeticiones > div > span.Derrota {
    color: #ff687c;
    font-style:italic;
}
#menu-lateral #lista-repeticiones > div > span.Tablas {
    font-style:italic;
}
#menu-lateral #lista-repeticiones > div > a {
    color: #c2c2c2;
    text-decoration:none;
}
#menu-lateral #lista-repeticiones > div > a:hover {
    color: #a1a1a1;
    text-decoration:none;
}
#mensaje_aviso {
    display:none;
}
#mensaje_aviso {
    position: absolute;
    border-radius: 50%;
    background: red;
    line-height: 8px;
    font-size: 8px;
    padding: 2px 6px;
    font-weight: bold;
    color: white;
    left: 50%;
}